##
# The following settings control what folders/files are ignored (or not ignored) by Git.
##

# Exclude Eclipse IDE files.
/.settings
/.buildpath
/.project

# Exlude composer.lock file.
/composer.lock

# Exclude composer managed vendor directories.
/vendor
