##
# The following settings are used to remove folders/files from deployment when using 'git archive'.
##

# Git folders/files
/.gitattributes export-ignore
/.gitignore export-ignore

# Composer files
/composer.json export-ignore
